.g-editor {
  .btn-submit {
    margin-top: 40px;
  }
  .el-col {
    margin-bottom: 20px;
    line-height: 41px;
  }
  .input-title {
    margin-left: 5px;
    width: 80%;
  }
  .input-original-url {
    margin-left: 5px;
    width: 69%;
  }
  .input-des {
    margin-left: 5px;
    width: 97%;
  }
}
