.g-tabbar {
  height: 0.5rem;
  width: 100%;
  position: relative;
  color: #aeaeae;
  .g-iconfont {
    color: inherit;
    font-size: 0.25rem;
  }
  .is-selected {
    background: transparent !important;
    .g-iconfont {
      color: #00c1de;
    }
    .icon-smile:before {
      content: '\e847';
    }

    .icon-time-circle:before {
      content: '\e848';
    }

    .icon-fire:before {
      content: '\e866';
    }

    .icon-home:before {
      content: '\e867';
    }
  }
}
